html,
body {
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 8%);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Brass Mono", sans-serif;
  overflow: hidden;
  scrollbar-color: #8b8b8b transparent;
}

form {
  width: max-content;
  height: 65%;
  background-color: hsl(0, 0%, 16%);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  justify-items: center;
  align-items: center;
}

legend {
  grid-area: legend;
  align-self: start;
  font-size: 1.5rem;
}

fieldset {
  width: 80%;
  display: grid;
  grid-template-areas:
    "legend"
    "inputs";
  gap: 20px;
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
}

button {
  border-radius: 5px;
  border: none;
  transition: scale 200ms ease-in-out;
  font-family: inherit;
  width: 50%;
  padding: 10px 5px;
}
button:active {
  scale: 0.9;
  filter: brightness(90%);
}

label {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  width: 70%;
  justify-self: center;
}

input {
  font-family: inherit;
  width: max-content;
  grid-area: inputs;
  border-radius: 2px;
  width: 100%;
  transition: scale 200ms ease-in-out;
  border: none;
  padding: 2px;
}

button:hover,
input:hover {
  scale: 1.1;
}
